<ul id="alignment_tabs">
  <li id="alignment_details" class="current" >
    <a href="#" class="details_tab" id="link_details">Details</a>
  </li>
  <li id="alignment_clustal">
    <%= raw alignment_button "clustal" %>
  </li>
  <li id="alignment_molphy">
    <%= raw alignment_button "molphy" %>
  </li>
  <li id="alignment_msf">
    <%= raw alignment_button "msf" %>
  </li>
  <li id="alignment_phylip">
    <%= raw alignment_button "phylip" %>
  </li>
  <li id="alignment_phylipnon">
    <%= raw alignment_button "phylipnon" %>
  </li>
  <li id="alignment_fasta">
    <%= raw alignment_button "fasta" %>
  </li>
</ul>
