.notice_area
%form{:id => "primer_update", :action => form_action, :method => 'post'}
  #general_section.section{ style: 'display: none' }
  =save_button()
  %input{type: "hidden", value: "put", name: "_method"}
  %table#primer_general_attributes.attributes
    %tr
      %td
        %label Name
      %td.value=text_field_or_text('name')
    %tr
      %td
        %label Sequence
      %td.value=textarea_or_text('sequence')
    %tr
      %td
        %label Target Organism
      %td
        = select_or_text('primer_target_organisms_id')
    %tr
      %td
        %label Gene
      %td
        = select_or_text('primer_genes_id')
    %tr
      %td
        %label Molecular Weight
      %td
        = text_field_or_text('molecular_weight')
    %tr
      %td
        %label Purification Method
      %td
        = select_or_text('primer_purification_methods_id')
    %tr
      %td
        %label TM
      %td.value= text_field_or_text('tm')
    %tr
      %td
        %label PMOL
      %td.value= text_field_or_text('pmol')
    %tr
      %td
        %label e260
      %td.value= text_field_or_text('e260')
    %tr
      %td
        %label In Stock
      %td.value= checkbox_or_text('in_stock')
    %tr
      %td
        %label Storage Location
      %td
          Box:
          = text_field_or_text('storage_box')
          Row:
          = text_field_or_text('storage_row')
          Col:
          = text_field_or_text('storage_col')
    %tr
      %td
        %label Notes
      %td.value= textarea_or_text('notes')
   


