#matrix_history_window.window
  .windowtitle
    %span.title Matrix History
    %span.closebutton{ :onclick => "this.up('.window').hide();" } X
  .window_contents
    .notice_area
    %table
      - if @matrix.branch.changesets.committed.find(:all, :conditions => 'changeset_number > 0').empty?
        There is no history to view.
      - else
        - @matrix.branch.changesets.committed.find(:all, :conditions => 'changeset_number > 0').each do |changeset|
          %tr
            %td#matrix_history_changeset_title.titletext= "Version #{changeset.changeset_number} ==> #{changeset.changeset_number + 1}"
          - changeset.items.each do |change_item|
            %tr
              %td.subitem.bodytext= "#{change_item.position}. #{change_item}"

= draggable_element @window_name, :handle => "'windowtitle'"