<%#= render :partial => "admin/nav_right" %>

<% if is_admin? %>
<div id="navpane" style="margin-top:20px;">
  <div class="windowtitle">Options</div>

  <ul class="listmain">
    <li>
      <a href="<%= new_admin_project_path %>">Add Project</a>
      <!--%=link_to_remote 'Add User', :url => { :action => :add_user_to_project } %-->
    </li>
  </ul>
</div>
<% end %>
<div class="title">Projects You Manage</div><br/>
<table id="admin-projects-table" class="chart_main">
  <tr>
    <th class="h">Name</th>
    <th class="h">Website</th>
    <th class="h">Public</th>


  </tr>
  <tbody>
   <% @projects.each do |p| %>
    <tr class="<%= cycle('body-odd', 'body-even') %>" id="<%= p.id %>">
      <td><%= p.label %></td>
      <td><%= p.website %></td>
      <td><%= p.public == true ? 'yes' : 'no' %></td>

    </tr>
   <% end %>
  </tbody>
</table>


