= form_for @dna_sample, :url => project_molecular_dna_sample_path do |f|
  %table
    %tr
      %td.b= 'Taxon:'
      %td{ :colspan => 3 }= @dna_sample.taxon
      %td.b= f.label :collection, 'Collection:'
      %td{ :colspan => 2 }= @dna_sample.collection.label unless @dna_sample.collection.nil?
    %tr
      %td.b= f.label :sample_nr, 'Sample #:'
      %td{ :colspan => 2 }= @dna_sample.sample_nr
      %td
      %td.b= f.label :sample_type, 'Sample type:'
      %td{ :colspan => 2 }= @dna_sample.sample_type
    %tr
      %td.b= f.label :amount, 'Amount:'
      %td{ :colspan => 2 }= @dna_sample.amount
      %td
      %td.b= f.label :deposited, 'Deposited:'
      %td{ :colspan => 2 }= @dna_sample.deposited
    %tr
      %td.b Location:
      %td.u= f.label :loc_freezer, 'Freezer'
      %td.u= f.label :loc_shelf_bin, 'Shelf/Bin'
      %td.u= f.label :loc_rack_bag, 'Rack/Bag'
      %td.u= f.label :loc_box, 'Box'
      %td.u= f.label :loc_column, 'Column'
      %td.u= f.label :loc_row, 'Row'
    %tr
      %td
      %td= @dna_sample.loc_freezer || 'n/a'
      %td= @dna_sample.loc_shelf_bin || 'n/a'
      %td= @dna_sample.loc_rack_bag || 'n/a'
      %td= @dna_sample.loc_box || 'n/a'
      %td= @dna_sample.loc_column || 'n/a'
      %td= @dna_sample.loc_row || 'n/a'
    %tr
      %td.b= f.label :date_received, 'Date Received:'
      %td{ :colspan => 2 }= @dna_sample.date_received
      %td
      %td.b= f.label :date_extracted, 'Date Extracted:'
      %td{ :colspan => 2 }= @dna_sample.date_extracted
    %tr
      %td.b= f.label :extraction_protocol, 'Extraction Protocol:'
      %td{ :colspan => 6 }= @dna_sample.extraction_protocol
    %tr
      %td.b= f.label :source, 'Source:'
      %td{ :colspan => 2 }= @dna_sample.source
      %td
      %td.b= f.label :private_source, 'Private Source:'
      %td{ :colspan => 2 }= @dna_sample.private_source
    %tr
      %td.b= f.label :team, 'Team:'
      %td{ :colspan => 6 }= @dna_sample.team
    %tr
      %td.b= f.label :notes, 'Notes:'
      %td{ :colspan => 6 }= @dna_sample.notes
