<% form_for :seq, :url => project_molecular_import_fasta_seqs_path(:project_id => params[:project_id]), :html => {:multipart => true} do |f| %>
  <style type="text/css" xmlns="http://www.w3.org/1999/html">
    .checkboxes {
      -moz-column-width: 45px;
	    -webkit-column-width: 45px;
      -moz-column-count: 1;
	    -moz-column-gap: 2px;
	    -webkit-column-count: 1;
	    -webkit-column-gap: 2px;
	    column-count: 1;
	    column-gap: 2px;
      height: 200px;
      column-width: 45px;
      padding-left: 20px;
      width: 200px;
    }
    .checkboxes input{
      vertical-align: middle;
    }
    .checkboxes label span{
      vertical-align: middle;
    }
    .checkboxes label{
      width: 150px;
    }
  </style>
  <table><tr><td>
    <label>Choose organism (optional):</label><span><%= raw taxon_name_field %></span><br/>
    <div id="upload_div">
      Select file:<br/>
      <%= f.file_field :uploaded_data %>
    </div>
    <div id="upload"></div>
    <iframe id='upload_frame' name="upload_frame" style="width:1px;height:1px;border:0px" src="about:blank"></iframe>
    <div id="fasta_format_note">
      <p style="width:275px; font-size: 80%;">
        NOTE:  Chosen marker(s) and organism will be assigned to every sequence uploaded in this file.
      </p>
      <p>
        Optionally include the following in your definition/description line to process markers/organism for individual sequences.*
      </p>
      <table>
        <tr>
          <td>Markers</td>
          <td>Organism</td>
        </tr>
        <tr>
          <td><pre>tol_gene=[gene name]</pre></td>
          <td><pre>tol_org=[organism name]</pre></td>
        </tr>
      </table>
      <p>
        *Sequences can be edited after upload
      </p>
      <!--<p>-->
        <!--For markers:  <pre>tol_gene=[gene name]</pre>-->
      <!--</p>-->
      <!--<p>For organism: <pre>tol_org=[organism name]</pre>-->
      <!--</p>-->
    </div>
  </td><td>
    <table>
        <tr>
          <td style="vertical-align: middle;">
            <%= label  'marker_matrix', 'Create new marker (optional)' %>
          </td>
          <td>
            <span id="marker_name" class="field">
              <input type="text" id="new_marker" name="new_marker"/>
            </span>
          </td>
        </tr>
        </table>
        <table>
        <tr>
          <td>
            <%= label 'marker_matrix', 'Choose existing markers (optional):' %> (<a id="mrk_sel_all" href="#">select all</a>)
          </td>
        </tr>
        <tr>
          <td>
            <div id="marker_checkbox_list" class="checkboxes">
              <%= raw marker_checkbox_list %>
            </div>
          </td>
        </tr>
      </table>
  </td></tr></table>
<% end %>