<tr>
  <td><%= raw f.label(:year) %></td>
  <td><%= raw f.text_field :year %></td>
  <td></td>
  <td><%= raw f.label(:publisher_id) %></td>
  <td>
    <%= raw publisher_field %>
  </td>
</tr>
<tr>
  <td><%= raw f.label(:title, 'Section/Chapter title') %></td>
  <td><%= raw f.text_field :title %></td>
  <td></td>
  <td><%= raw f.label(:city) %></td>
  <td><%= raw f.text_field :city %></td>
</tr>
<tr>
  <td><%= raw f.label(:book_title) %></td>
  <td><%= raw book_title_field %></td>
  <td></td>
  <td><%= raw f.label(:number_of_volumes) %></td>
  <td><%= raw f.text_field :number_of_volumes %></td>
</tr>
<tr>
  <td><%= raw f.label(:series_title) %></td>
  <td><%= raw series_title_field %></td>
  <td></td>
  <td><%= raw f.label(:keywords) %></td>
  <td><%= raw f.text_field :keywords %></td>
</tr>
<tr>
  <td><%= raw f.label(:editor, 'Book Editors') %></td>
  <td><%= raw f.text_field :editor %></td>
  <td></td>
  <td><%= raw f.label(:abstract) %></td>
  <td><%= raw f.text_field :abstract %></td>
</tr>
<tr>
  <td><%= raw f.label(:series_editor, 'Series Editors') %></td>
  <td><%= raw f.text_field :series_editor %></td>
  <td></td>
  <td><%= raw f.label(:isbn_or_issn, 'ISBN/ISSN') %></td>
  <td><%= raw f.text_field :isbn_or_issn %></td>
</tr>
<tr>
  <td><%= raw f.label(:volume, 'Volume Number') %></td>
  <td><%= raw f.text_field :volume %></td>
  <td></td>
  <td><%= raw f.label(:url, 'URL') %></td>
  <td><%= raw f.text_field :url %></td>
</tr>
<tr>
  <td><%= raw f.label(:pages) %></td>
  <td><%= raw f.text_field :pages %></td>
  <td></td>
  <td><%= raw f.label(:doi, 'DOI') %></td>
  <td><%= raw f.text_field :doi %></td>
</tr>
<tr>
  <td><%= raw f.label(:edition) %></td>
  <td><%= raw f.text_field :edition %></td>
  <td></td>
  <td><%= raw f.label :attachment %></td>
  <td><%= raw f.file_field :attachment %><!--<em>Disabled for demo.</em>--></td>
</tr>
